footer {
    width: 100%;
    height: 170px;
    background: #464547;
  }
  
  footer > .sec-last {
    padding-top: 19px;
    padding-left: 145px;
  }
  footer > .sec-last > span > span {
    margin-left: 6px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
  }
  footer > .sec-last > address {
    margin-top: 16px;
  }
  footer > .sec-last > address,
  footer > .sec-last > p {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
  }
  